{% load i18n static sekizai_tags %}
{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'contacts/css/styles.css' %}">{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'http://malsup.github.com/jquery.form.js' %}"></script>{% endaddtoblock %}

{% block content %}

  <form method="post" enctype="multipart/form-data" action="{{ model_form_upload }}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit" />
  </form>



      <div class="legend"><span class="required">*</span> Required field</div>
      <div class="success" style="display:none">Thank you, a member of our team will contact you shortly, if appropriate.</div>
      <div class="errors" style="display:none"><span class="form-errors"></span></div>

{% endblock %}
